.cta {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.25px;
  padding-bottom: 10px;
  border-bottom: solid 2px var(--primary);
  text-decoration: none;
}

.cta:hover {
  color: var(--primary);
  transition: color 300ms;
}
